.home {
  padding: 10px;
}

.side-info {
  display: inline-block;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid gray;
  box-shadow: 3px 4px 10px #33333344;
  background: floralwhite;

  a {
    font-size: 120%;
    margin-left: 5px;
    color: black;
  }

  img {
    display: block;
  }
}
