body {
  font-family: "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
  font-size: 18px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  appearance: none;
  background-color: rgb(84, 0, 163);
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  padding: 5px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button.active {
  color: white;
  background-color: rgb(18, 78, 207);
  font-weight: bold;
  text-decoration: underline;
}

button:not(.active):hover {
  background-color: indigo;
  opacity: 0.8;
}

main {
  margin-top: -3px;
  padding: 1em;
  background-color: rgb(18, 78, 207);
  border: 1px solid gray;
  color: white;
}
