body {
  font-family: "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
  font-size: 16px;
  font-weight: bold;
}

ul {
  list-style: none;
}

li {
  border-bottom: 1px solid slategray;
  padding: 0.3em;
}
li:hover {
  background-color: blanchedalmond;
}

button {
  appearance: none;
  background: white;
  border-radius: 4px;
  background-color: blueviolet;
  color: white;
  font-size: 0.8em;
}

.filterbox {
  background-color: aquamarine;
  padding: 0.3em;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.double-product-list {
  display: flex;
}
